spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/productdb
    #url: jdbc:postgresql://ep-silent-hill-ai75gfh4.c-4.us-east-1.aws.neon.tech:5432/neondb?sslmode=require
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    datasource: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
      database-platform: org.hibernate.dialect.PostgreSQLDialect
#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:test
#  jpa:
#    show-sql: true
#    hibernate:
#      ddl-auto: create
#    properties:
#      hibernate:
#        format_sql: true
server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
